
*{
    padding: 0px;
    /* margin: 4px; */
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
/* .logo-container{
    height: 150px;
    width: 150px;
    vertical-align: middle;
} */
.logo{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: right;
}

.navitems > ul {
    display: flex;
    
}

.navitems >ul >li {
    margin: 10px;
    padding: 10px;
    list-style-type: none;
    vertical-align: middle;
}

.search-bar{
    margin-bottom: 5px;
}

.res-container{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 20px;

}
.res-card{
    width: 250px;
    background-color: #f0f0f0;
    padding: 5px;
    margin: 8px;
}

.res-card:hover{
    border: 2px solid black;
    cursor: pointer;
}

.res-logo{
    width: 100%;
    height: 180px;
}

.filter-btn{
    margin: 15px;
    padding: 4px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 20px;
}
.shimmer-card{
    width: 250px;
    height: 400px;
    background-color: #f0f0f0;
    margin: 13px;
}

.login-btn{
    padding: 0px 4px;
    width: 100px;
    height: 50px;
    margin-right: 5px;
    cursor: pointer;
}

.filter{
    display: flex;
}

.search{
    margin: 15px;
}

.user-card{
    border: 1px solid black;
    padding: 8px;
}